USE [master]
GO
/****** Object:  Database [mydb]    Script Date: 05-12-2021 13:06:43 ******/
CREATE DATABASE [mydb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mydb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mydb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mydb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\mydb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mydb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mydb]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 05-12-2021 13:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[VIN] [varchar](20) NOT NULL,
	[isAvailable] [int] NULL,
	[truckLocation] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarDeleted]    Script Date: 05-12-2021 13:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarDeleted](
	[VIN] [varchar](17) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 05-12-2021 13:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[email] [varchar](100) NOT NULL,
	[lastName] [varchar](45) NULL,
	[firstName] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 05-12-2021 13:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Reservation_User_userName] [varchar](20) NOT NULL,
	[Reservation_Truck_VIN] [varchar](20) NOT NULL,
	[Reservation_reservationID] [varchar](45) NOT NULL,
	[payID] [varchar](45) NOT NULL,
	[amount] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[payID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 05-12-2021 13:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[User_userName] [varchar](20) NOT NULL,
	[Car_VIN] [varchar](20) NOT NULL,
	[reservationID] [varchar](45) NOT NULL,
	[fromLocation] [varchar](45) NOT NULL,
	[toLocation] [varchar](45) NOT NULL,
	[rentMinutes] [int] NOT NULL,
	[fromDate] [datetime] NOT NULL,
	[toDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[reservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05-12-2021 13:06:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userName] [varchar](20) NOT NULL,
	[password] [varchar](45) NULL,
	[isVIP] [int] NULL,
	[Customer_email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT (NULL) FOR [isAvailable]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT (NULL) FOR [truckLocation]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (NULL) FOR [lastName]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (NULL) FOR [firstName]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (NULL) FOR [amount]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__fromL__72C60C4A]  DEFAULT (NULL) FOR [fromLocation]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__toLoc__73BA3083]  DEFAULT (NULL) FOR [toLocation]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__rentM__74AE54BC]  DEFAULT (NULL) FOR [rentMinutes]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__fromD__75A278F5]  DEFAULT (NULL) FOR [fromDate]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__toDat__76969D2E]  DEFAULT (NULL) FOR [toDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (NULL) FOR [password]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (NULL) FOR [isVIP]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Reservation] FOREIGN KEY([Reservation_reservationID])
REFERENCES [dbo].[Reservation] ([reservationID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Reservation]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_User] FOREIGN KEY([User_userName])
REFERENCES [dbo].[User] ([userName])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [fk_User_Customer] FOREIGN KEY([Customer_email])
REFERENCES [dbo].[Customer] ([email])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [fk_User_Customer]
GO
USE [master]
GO
